body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.mauto{
	margin: 0 auto;
}
.w30{
	width: 30%;
}
.cleafix{clear: both;}
.submit{margin-top: 10px;}
.error{
	text-align: left;
	color: red;
}
.text-xs-left { text-align: left; }